@import '../../../shared/scss/helpers';

.home{
	height: 100%;
	width: 100%;
	background: url('/images/main-background.jpg');
	background-position: center;
	background-size: cover;
	overflow: hidden;

	&__wrapper{
		@extend %wrapper;
	}

	&__subscription{
		font-size: 2.5rem;
		text-shadow: 1px 1px 4px rgba(0,0,0,0.6);
		color: #fff;
		margin-bottom: 18px;
		text-align: center;
	}

	&__action-block{
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

}

.logo{
	position: absolute;
	right: 0px;
	width: 250px;
	height: 121px;
}