@import '../../../shared/scss/helpers';

.search-button{
	box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
	background: #fff;
	border: 0px;
	outline: none;
	padding: 10px 46px 10px 30px;
	border-radius: 10px;
	cursor: pointer;
	transition: .2s;
	&:focus{
		box-shadow: 0px 0px 0px rgba(0,0,0,.4);
	}

	&__svg,
	&__text{
		display: inline-block;
		vertical-align: middle;
	}

	&__svg{
		width: 34px;
		height: 34px;
		svg{
			fill: $mgc;
		}
	}

	&__text{
		color: $mgc;
		font-size: 22px;
		font-weight: 400;
	}
}